In [1]:
import pandas as pd

In [2]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

# reindex로 발생한 NaN값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

UCI 자동차 연비 (auto mpg) Dataset

In [4]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./pandas_basic_02_data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 데이터프레임 df의 내용을 일부 확인 
print(df.head())     # 처음 5개의 행
print('\n')
print(df.tail())     # 마지막 5개의 행

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino


      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0      86.00  2790.0          15.6
394  44.0          4          97.0      52.00  2130.0          24.6
395  32.0          4         135.0      84.00  2295.0          11.6
396  28.0          4         120.0      79.00  2625.0          18.6
397  31.0          4         119.0      82.00  2720.0          19.4

     model year  origin             name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [8]:
print(df.shape)
print('\n')
print(df.describe(include='all')) # 기술 통계 정보 확인

(398, 9)


               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         94          NaN
top            NaN         NaN           NaN      150.0          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin        name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

In [7]:
print(df.count()) # 개수 확인 (Nan은 세지 않음)

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [12]:
print(df['origin'].value_counts()) # 특정 열이 갖고 있는 고유값 개수 확인

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [16]:
print(df['mpg'].mean())
print(df['weight'].mean())

print(df[['mpg', 'weight']].mean())

23.514572864321607
2970.424623115578
mpg         23.514573
weight    2970.424623
dtype: float64

In [17]:
print(df['mpg'].median())
print(df['weight'].median())

print(df[['mpg', 'weight']].median())

23.0
2803.5
mpg         23.0
weight    2803.5
dtype: float64

In [23]:
print(df[['mpg', 'weight', 'cylinders']].corr()) # Default corr 계산은 pearson 상관계수를 계산한다.

print('\n')

print(df[['mpg', 'weight', 'cylinders']].corr(method='pearson'))

print('\n')

print(df[['mpg', 'weight', 'cylinders']].corr(method='spearman'))

print('\n')

print(df[['mpg', 'weight', 'cylinders']].corr(method='kendall'))

                mpg    weight  cylinders
mpg        1.000000 -0.831741  -0.775396
weight    -0.831741  1.000000   0.896017
cylinders -0.775396  0.896017   1.000000


                mpg    weight  cylinders
mpg        1.000000 -0.831741  -0.775396
weight    -0.831741  1.000000   0.896017
cylinders -0.775396  0.896017   1.000000


                mpg    weight  cylinders
mpg        1.000000 -0.874947  -0.821864
weight    -0.874947  1.000000   0.873314
cylinders -0.821864  0.873314   1.000000


                mpg    weight  cylinders
mpg        1.000000 -0.694006  -0.686477
weight    -0.694006  1.000000   0.735481
cylinders -0.686477  0.735481   1.000000

남북한발전전력량 데이터셋

In [27]:
df = pd.read_excel('./pandas_basic_02_data/남북한발전전력량.xlsx', engine='openpyxl')  # 데이터프레임 변환

In [33]:
print(df.head(6))

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239

[6 rows x 29 columns]

In [35]:
df_ns = df.iloc[[0, 5], 3:]
print(df_ns.head(3))

df_ns.index = ['South', 'North']
df_ns.columns = df_ns.columns.map(int)

df_ns = df_ns.T

print(df_ns.head())

   1991  1992  1993  1994  1995  1996  1997  1998  1999  2000  ...  2007  \
0  1186  1310  1444  1650  1847  2055  2244  2153  2393  2664  ...  4031
5   263   247   221   231   230   213   193   170   186   194  ...   236

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
5   255   235   237   211   215   221   216   190   239

[2 rows x 26 columns]
     South North
1991  1186   263
1992  1310   247
1993  1444   221
1994  1650   231
1995  1847   230